/*.........COLOR............*/
/*.........GRID............*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /*60%{transform: rotate(180deg)}*/
  80% {
    /*doesn't need the opacity*/
    /*opacity: ;*/
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    /*doesn't need the opacity*/
    /*opacity: ;*/
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  50% {
    transform: translateY(-5px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    @media only screen and (max-width: 800px) {
      .row [class^="col-"] {
        width: 100% !important; } }

.row-col-3 {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 900px) {
    .row-col-3 {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 450px) {
    .row-col-3 {
      flex-direction: column; } }
  .row-col-3::after {
    content: "";
    display: table;
    clear: both; }
  .row-col-3 [class^="col-"] {
    float: left; }
    @media only screen and (max-width: 900px) {
      .row-col-3 [class^="col-"] {
        width: 100% !important; } }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.html {
  font-size: 65.5%;
  color: aliceblue;
  background-color: #e8c8bc; }

.body {
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive, sans-serif;
  padding: 3rem;
  background-color: #e8c8bc; }

::selection {
  color: antiquewhite;
  background-color: #453c38; }

.custom-shape-divider-bottom-1608289319 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-bottom-1608289319 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px; }

.custom-shape-divider-bottom-1608289319 .shape-fill {
  fill: #FFFFFF; }

.content__heading {
  color: #151515;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 400;
  text-shadow: 0 1rem 2rem rgba(185, 160, 150, 0.3);
  animation-name: moveInBottom;
  animation-duration: 1s;
  /*    how an animation progresses through the duration of each cycle. */
  animation-timing-function: ease-out; }
  @media only screen and (max-width: 1400px) {
    .content__heading {
      font-size: 3rem;
      margin-top: 2rem; } }
  @media only screen and (max-width: 1200px) {
    .content__heading {
      font-size: 2.5rem;
      margin-top: 2rem; } }
  @media only screen and (max-width: 900px) {
    .content__heading {
      font-size: 2.3rem; } }
  @media only screen and (max-width: 700px) {
    .content__heading {
      font-size: 2.6rem;
      margin-top: 1.3rem; } }

.content__span {
  color: #c3c3c3;
  font-size: 1.75rem;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 1.5rem; }
  @media only screen and (max-width: 1400px) {
    .content__span {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 1200px) {
    .content__span {
      font-size: 1rem; } }
  @media only screen and (max-width: 1000px) {
    .content__span {
      font-size: .85rem; } }
  @media only screen and (max-width: 900px) {
    .content__span {
      font-size: .7rem; } }
  @media only screen and (max-width: 700px) {
    .content__span {
      font-size: 1rem; } }
  @media only screen and (max-width: 480px) {
    .content__span {
      font-size: .75rem; } }

.content__text {
  font-size: 1.8rem;
  color: #343434;
  line-height: 1.1;
  text-align: justify-all;
  display: inline-block; }
  @media only screen and (max-width: 1400px) {
    .content__text {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 1100px) {
    .content__text {
      font-size: 1.4rem;
      line-height: .75; } }
  @media only screen and (max-width: 920px) {
    .content__text {
      font-size: 1.3rem;
      line-height: .3; } }
  @media only screen and (max-width: 800px) {
    .content__text {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 480px) {
    .content__text {
      font-size: 1rem; } }

.content__one-word {
  color: #e8c8bc; }

.content__btn {
  font-size: 1.55rem;
  font-family: 'Dancing Script', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
  background-color: #dcad9b;
  border: 1px solid transparent;
  border-radius: 2.55rem;
  padding: 1rem 1.75rem;
  box-shadow: 0.2rem 1rem 1rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.84, -0.03, 0.04, 0.77); }
  @media only screen and (max-width: 700px) {
    .content__btn {
      font-size: 1rem;
      padding: .75rem 1.25rem; } }
  .content__btn:link, .content__btn:active {
    text-decoration: none; }
  .content__btn:hover {
    transform: translateY(-0.5rem) scale(1.1);
    background-color: #151515;
    color: #dcad9b; }

.salon-header {
  background-image: url("../img/header.pic.png");
  background-size: cover;
  background-position: top;
  background-color: #e8c8bc;
  overflow: hidden;
  height: 95vh;
  display: block;
  margin-bottom: -5rem;
  position: relative; }
  @media only screen and (max-width: 1400px) {
    .salon-header {
      background-image: url("../img/header.pic-1400.png"); } }
  @media only screen and (max-width: 1300px) {
    .salon-header {
      background-image: url("../img/header.pic-1300.png"); } }
  @media only screen and (max-width: 1200px) {
    .salon-header {
      background-image: url("../img/header.pic-1200.png"); } }
  @media only screen and (max-width: 1024px) {
    .salon-header {
      background-image: url("../img/header.pic-1024.png"); } }
  .salon-header__contact-icon {
    background-color: #453c38;
    display: flex;
    justify-content: space-between;
    align-content: center; }
  .salon-header__list-contact {
    margin: 0 2.75rem; }
  .salon-header__item-icon {
    display: inline-block;
    padding: .89rem; }
    @media only screen and (max-width: 920px) {
      .salon-header__item-icon {
        padding: .45rem;
        margin-top: .8rem; } }
  .salon-header__link-icon:link, .salon-header__link-icon:active {
    text-decoration: none;
    color: #3f3f3f;
    display: inline-block;
    transition: all .3s; }
  .salon-header__link-icon:hover, .salon-header__link-icon:visited {
    transform: rotate(5deg) scale(1.4);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
  .salon-header__svg {
    height: 1.2rem;
    width: 2.2rem;
    fill: #d2d2d2;
    margin-right: .44rem; }
    .salon-header__svg:hover, .salon-header__svg:visited {
      transform: rotate(5deg) scale(1.4);
      fill: #c3c3c3; }
    @media screen and (max-width: 1260px) {
      .salon-header__svg {
        margin-right: .3rem; } }
  .salon-header__svg-text {
    font-size: .9rem;
    color: #f3e3dd;
    float: right;
    margin-top: .2rem;
    text-transform: capitalize; }
    @media screen and (max-width: 1260px) {
      .salon-header__svg-text {
        display: none; } }
  .salon-header__form {
    padding: .8rem;
    margin: .2rem 2.5rem 0 0; }
  .salon-header__search {
    border-radius: .5rem;
    outline: none;
    padding: .3rem;
    width: 20rem;
    border: 1px solid transparent;
    background-color: #f8eeea;
    transition: all .2s; }
    .salon-header__search:focus {
      outline: none;
      transform: translateX(-1rem) scale(1.1); }
    @media only screen and (max-width: 720px) {
      .salon-header__search {
        width: fit-content; }
        .salon-header__search:focus {
          outline: none;
          transform: translateX(0.5rem) scale(0.95); } }
  .salon-header__search-btn {
    font-size: 1.2rem;
    background: none;
    border: 1px solid transparent;
    padding: .25rem;
    vertical-align: middle;
    color: #e0dfdf; }
    .salon-header__search-btn:focus {
      outline: none;
      transform: scale(1.2);
      color: #1f1f1f; }
  .salon-header__nav {
    margin-left: 4rem; }
  .salon-header__logo {
    display: inline-block;
    margin-top: 1.75rem;
    animation-name: moveInRight; }
  .salon-header__logo-photo {
    border-bottom-left-radius: 55%;
    border-top-right-radius: 50%;
    border-top-left-radius: 3%;
    height: 6.75rem; }
  .salon-header__list-nav {
    display: inline-block;
    list-style: none;
    font-size: 2rem;
    float: right;
    margin: 2.75rem 5.25rem 0 0; }
    @media screen and (max-width: 1700px) {
      .salon-header__list-nav {
        font-size: 1.75rem;
        margin-top: 1.75rem; } }
    @media screen and (max-width: 1200px) {
      .salon-header__list-nav {
        font-size: 1.2rem;
        margin-top: 1.5rem; } }
  .salon-header__item-nav {
    display: inline-block;
    padding: .89rem;
    text-transform: uppercase;
    margin-right: 1.75rem; }
  .salon-header__sticky-nav {
    width: 100%;
    margin: 0;
    padding-left: 2rem;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right bottom, rgba(69, 60, 56, 0.8), rgba(185, 160, 150, 0.9)), url("../img/nav-bg.png");
    z-index: 999;
    height: 6rem; }
    .salon-header__sticky-nav a {
      color: #e0dfdf !important; }
  @media screen and (min-width: 900px) {
    .salon-header__collapse-icon {
      display: none; } }
  .salon-header__link-nav:link, .salon-header__link-nav:visited {
    display: inline-block;
    text-decoration: none;
    color: #3f3f3f;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition: all .5s; }
  .salon-header__link-nav:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transform: translateY(0); }
  .salon-header__link-nav:hover, .salon-header__link-nav:active {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
  .salon-header__link-nav:hover:before, .salon-header__link-nav:active:before {
    opacity: 1; }
  .salon-header__text {
    font-family: 'Parisienne', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: capitalize; }
  .salon-header__heading {
    transform: translate(-90%, -50%);
    font-size: 4.75rem;
    color: #2a2a2a; }
    @media screen and (max-width: 1200px) {
      .salon-header__heading {
        font-size: 3.5rem; } }
  .salon-header__heading-line2 {
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', sans-serif; }
  .salon-header__btn-box {
    font-size: 1.55rem;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    color: #2a2a2a;
    background-color: #dcad9b;
    border: 1px solid transparent;
    border-radius: 2.55rem;
    padding: 1rem 1.75rem;
    box-shadow: 0.2rem 1rem 1rem rgba(0, 0, 0, 0.2);
    display: inline-block;
    cursor: pointer;
    transform: translate(-198%, 50%);
    transition: all 0.4s cubic-bezier(0.84, -0.03, 0.04, 0.77); }
    .salon-header__btn-box:hover, .salon-header__btn-box:active {
      transform: translate(-198%, 60%);
      background-color: #151515;
      color: #b9a096; }
  .salon-header__toggle-nav {
    display: none; }
  @media only screen and (max-width: 900px) {
    .salon-header {
      background-image: url("../img/header.pic-900.png");
      height: 80vh; }
      .salon-header__logo {
        margin-top: 1.2rem; }
      .salon-header__logo-photo {
        height: 4.75rem; }
      .salon-header__list-nav {
        display: none; }
      .salon-header .salon-header__form {
        margin-right: 6rem; }
      .salon-header__sticky-nav {
        height: 4rem; }
      .salon-header .salon-header__list-contact {
        margin: 0 1.75rem; }
      .salon-header__list-collapse {
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(185, 160, 150, 0.95);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 200; }
        .salon-header__list-collapse a {
          font-size: 2rem;
          color: #e0dfdf !important;
          animation-name: moveInLeft;
          animation-duration: 1s;
          animation-delay: 0s; }
      .salon-header__collapse-icon {
        position: fixed;
        top: 3rem;
        right: 0;
        font-size: 1.5rem;
        padding: 1.5rem;
        margin-right: 1.5rem;
        z-index: 250; }
      .salon-header__heading {
        font-size: 2.5rem; }
      .salon-header__btn-box {
        transform: translate(-120%, 50%);
        pointer-events: none;
        padding: .6rem 1.2rem;
        font-size: 1.4rem; } }
  @media only screen and (max-width: 700px) {
    .salon-header {
      background-image: linear-gradient(to right bottom, rgba(243, 227, 221, 0.5), rgba(230, 196, 183, 0.5)), url("../img/header.pic-600.png");
      background-position: top;
      height: 80vh; }
      .salon-header__logo-photo {
        height: 2.75rem; }
      .salon-header__list-contact {
        display: none; }
      .salon-header .salon-header__form {
        margin-right: 0; }
      .salon-header__list-contact-collapse {
        display: flex;
        justify-content: left;
        text-align: center;
        flex-direction: column; }
      .salon-header__heading {
        font-size: 2rem;
        transform: translate(-80%, -50%); }
      .salon-header__btn-box {
        transform: translate(-110%, 50%);
        pointer-events: none;
        font-size: 1.1rem;
        padding: .5rem 1rem; } }
  @media screen and (max-width: 500px) {
    .salon-header__heading {
      font-size: 1.5rem;
      transform: translate(-80%, -50%); }
    .salon-header__btn-box {
      transform: translate(-92%, 50%);
      pointer-events: none;
      font-size: 1rem;
      padding: .4rem .75rem; } }

@media only screen and (min-width: 700px) {
  #side-contact {
    display: none; } }

@media only screen and (max-width: 700px) {
  .side-contact {
    display: inline-block;
    position: fixed;
    top: 40%;
    left: 0; }
    .side-contact____item-icon {
      padding: 1rem 1.2rem; }
    .side-contact__svg {
      height: 2.5rem;
      width: 1.65rem;
      padding: .2rem;
      fill: #2a2a2a; } }

.welcome {
  margin-top: 3rem;
  display: inline-block;
  text-align: center; }
  @media only screen and (max-width: 900px) {
    .welcome {
      margin-top: 5rem; } }
  @media only screen and (max-width: 700px) {
    .welcome {
      margin-bottom: 2rem; } }
  .welcome__photos-left {
    padding: 3rem;
    margin-left: 8.75rem; }
    @media only screen and (max-width: 1400px) {
      .welcome__photos-left {
        padding: 2rem;
        margin-left: 4.5rem; } }
    @media only screen and (max-width: 1024px) {
      .welcome__photos-left {
        margin-left: 2.5rem; } }
    @media only screen and (max-width: 900px) {
      .welcome__photos-left {
        margin: 0;
        margin-bottom: -3rem;
        padding: 0 0 3rem 2rem;
        display: contents; } }
  .welcome__photos-right {
    margin: 3.5rem 0 -3rem 8.5rem; }
    @media only screen and (max-width: 1400px) {
      .welcome__photos-right {
        margin-left: 7rem; } }
    @media only screen and (max-width: 1024px) {
      .welcome__photos-right {
        margin-left: 9rem; } }
    @media only screen and (max-width: 900px) {
      .welcome__photos-right {
        margin: 0; } }
  .welcome__pic {
    width: 13rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    transition: all .4s;
    display: inline-block; }
    @media only screen and (max-width: 1200px) {
      .welcome__pic {
        width: 11rem; } }
    @media only screen and (max-width: 1024px) {
      .welcome__pic {
        width: 10rem; } }
    @media only screen and (max-width: 900px) {
      .welcome__pic {
        width: 7rem; } }
    .welcome__pic:hover {
      transform: scale(1.2);
      z-index: 9999; }
  .welcome__pic-1 {
    margin: -1rem 0 0 2rem; }
    @media only screen and (max-width: 900px) {
      .welcome__pic-1 {
        margin: 0; } }
  .welcome__pic-2 {
    margin: -2.75rem 0 0 4rem; }
    @media only screen and (max-width: 900px) {
      .welcome__pic-2 {
        margin: 0; } }
  .welcome__pic-3 {
    margin: -2.5rem 0 0 0; }
    @media only screen and (max-width: 900px) {
      .welcome__pic-3 {
        margin: 0; } }
  .welcome__text {
    margin-top: 5rem;
    margin-left: 5rem;
    text-align: center; }
    @media only screen and (max-width: 1200px) {
      .welcome__text {
        margin: 4rem 0 0 6rem; } }
    @media only screen and (max-width: 1024px) {
      .welcome__text {
        margin: 3rem 0 0 8rem; } }
    @media only screen and (max-width: 900px) {
      .welcome__text {
        margin: 0; } }
  .welcome__heading {
    font-size: 3.12rem;
    font-weight: 400;
    line-height: 1.3;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
    color: #2a2a2a;
    padding: 1.25rem;
    animation-duration: 1s;
    animation-delay: .2s; }
    @media only screen and (max-width: 1400px) {
      .welcome__heading {
        font-size: 2.75rem;
        line-height: 1.2; } }
    @media only screen and (max-width: 1200px) {
      .welcome__heading {
        font-size: 2rem;
        line-height: 1.1; } }
    @media only screen and (max-width: 1024px) {
      .welcome__heading {
        font-size: 1.8rem; } }
  .welcome__span {
    font-size: 1.2rem;
    color: #b4b4b4;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 1200px) {
      .welcome__span {
        font-size: .75rem; } }
  .welcome__parag {
    text-transform: capitalize;
    font-size: 1.75rem;
    padding: 1.75rem; }
    @media only screen and (max-width: 1200px) {
      .welcome__parag {
        font-size: 1.2rem; } }
  .welcome__btn {
    margin-top: 1.75rem; }
    @media only screen and (max-width: 1200px) {
      .welcome__btn {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
        padding: .7rem 1.1rem; } }
    @media only screen and (max-width: 900px) {
      .welcome__btn {
        margin: 0 0 2rem 0;
        padding: .7rem 1.2rem; } }

.hidden {
  display: none; }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(241, 236, 236, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  .popup__content {
    background-color: #f3e3dd;
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    text-align: center;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 800px) {
      .popup__content {
        flex-direction: column;
        padding: 0; } }
  .popup__pic {
    margin-top: 1.5rem;
    width: 100%; }
    @media only screen and (max-width: 1024px) {
      .popup__pic {
        margin-top: -6rem; } }
    @media only screen and (max-width: 800px) {
      .popup__pic {
        margin: 0 0 -5px 0; } }
  .popup__img {
    width: 90%;
    border-radius: 2px;
    box-shadow: 0 1rem 3rem rgba(42, 42, 42, 0.5); }
    @media only screen and (max-width: 1700px) {
      .popup__img {
        width: 100%; } }
    @media only screen and (max-width: 800px) {
      .popup__img {
        height: auto;
        border-radius: 0; } }
  .popup__text {
    background-image: linear-gradient(#2a2a2a, #e0dfdf);
    box-shadow: 0 1rem 3rem rgba(42, 42, 42, 0.5);
    width: 100%;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 3px;
    margin-left: 3rem; }
    @media only screen and (max-width: 1600px) {
      .popup__text {
        width: 80%; } }
    @media only screen and (max-width: 1440px) {
      .popup__text {
        padding: 0; } }
    @media only screen and (max-width: 1024px) {
      .popup__text {
        margin-left: -4rem;
        margin-top: 3rem; } }
    @media only screen and (max-width: 800px) {
      .popup__text {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: none; } }
  .popup__header {
    margin: 1rem 0;
    font-size: 2rem; }
    @media only screen and (max-width: 1024px) {
      .popup__header {
        font-size: 1.5rem; } }
  .popup__table {
    margin: 0 auto; }
  .popup__list {
    font-size: 1.25rem; }
    @media only screen and (max-width: 1024px) {
      .popup__list {
        font-size: 1.1rem; } }
  .popup__item {
    padding: 1rem;
    float: left;
    margin-right: 3rem; }
    @media only screen and (max-width: 1280px) {
      .popup__item {
        padding: .75rem; } }
  @media only screen and (max-width: 1024px) {
    .popup__price {
      font-size: 1rem; } }
  .popup__close-btn {
    position: absolute;
    top: 3rem;
    right: 2rem;
    color: #151515;
    z-index: 99;
    border: 1px solid transparent;
    background: transparent;
    font-size: 2.25rem; }
    .popup__close-btn:focus {
      outline: none; }

.expertise {
  height: auto;
  background-image: linear-gradient(to right bottom, rgba(69, 60, 56, 0.35), rgba(185, 160, 150, 0.8)), url("../img/expertise-bg2.png");
  background-color: #b9a096;
  background-size: cover; }
  .expertise__content {
    width: 85%; }
  .expertise__photo {
    margin: 6rem;
    display: inline-block;
    box-shadow: 3rem 2rem 4rem rgba(0, 0, 0, 0.28);
    border-radius: .5rem;
    text-align: center; }
    @media only screen and (max-width: 1600px) {
      .expertise__photo {
        margin: 3rem 0 3rem 2rem; } }
    @media only screen and (max-width: 1400px) {
      .expertise__photo {
        margin: 4rem 0 2.5rem 6rem;
        width: 80%; } }
    @media only screen and (max-width: 800px) {
      .expertise__photo {
        width: 50%;
        float: left;
        margin: 2rem; } }
  .expertise__text {
    width: auto;
    margin-top: 6rem;
    border-radius: 5px;
    padding: .5rem 2rem;
    text-align: left;
    display: inline-block; }
    @media only screen and (max-width: 1600px) {
      .expertise__text {
        margin: 3rem 0; } }
    @media only screen and (max-width: 1400px) {
      .expertise__text {
        margin: 2rem 0 2rem 3rem; } }
    @media only screen and (max-width: 800px) {
      .expertise__text {
        background-image: linear-gradient(to right bottom, rgba(69, 60, 56, 0.35), rgba(185, 160, 150, 0.8));
        margin: -9rem 0 1.5rem 12rem; } }
    @media only screen and (max-width: 600px) {
      .expertise__text {
        padding: .5rem;
        margin: -9rem 0 1.5rem 5rem; } }
    .expertise__text h3 {
      color: #f8eeea; }
  .expertise__icon {
    margin-right: .7rem;
    font-size: 1.5rem;
    color: #d44f60;
    vertical-align: middle; }
  .expertise__list li {
    list-style: none;
    padding: 1rem 1.2rem; }
    @media only screen and (max-width: 1200px) {
      .expertise__list li {
        padding: .5rem 0; } }
    @media only screen and (max-width: 1200px) {
      .expertise__list li {
        padding: .5rem 0; } }

.work-hours {
  height: auto;
  width: 100%;
  padding: 1.5rem; }
  @media only screen and (max-width: 1200px) {
    .work-hours {
      padding: 0; } }
  .work-hours__grid-box {
    margin-top: 1.5rem;
    display: grid; }
  .work-hours__days-box {
    padding: 3rem;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .work-hours__days-box {
        padding: 0 2rem; } }
  .work-hours__days {
    padding: .25rem; }
    @media only screen and (max-width: 1200px) {
      .work-hours__days {
        padding: .5rem; } }
    @media only screen and (max-width: 900px) {
      .work-hours__days {
        font-weight: 300;
        padding: .7rem; } }
  @media only screen and (max-width: 900px) {
    .work-hours__hours {
      font-weight: 300;
      padding: .7rem; } }

.container {
  width: 400px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  margin: 10rem auto; }
  @media only screen and (max-width: 800px) {
    .container {
      margin: 5rem auto; } }
  @media only screen and (max-width: 700px) {
    .container {
      margin: 2.5rem auto; } }

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s ease;
  cursor: pointer; }
  @media only screen and (max-width: 500px) {
    .card {
      width: 85%; } }

.back, .front {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.contentfront {
  width: 100%;
  height: 100%;
  float: left;
  transform: translatez(60px);
  -webkit-transform: translatez(60px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

.contentback {
  width: 100%;
  height: 100%;
  float: left;
  transform: translatez(60px);
  -webkit-transform: translatez(60px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

.back {
  transform: rotateY(180deg);
  background-color: #232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.front {
  text-transform: uppercase;
  background-color: #232227;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.date {
  height: 100%;
  width: 130px;
  float: left;
  background-color: #dcad9b;
  border-radius: 0 6px 6px 0;
  text-align: right;
  padding: 10px 30px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }
  @media only screen and (max-width: 500px) {
    .date {
      width: 70px; } }

.datecont {
  height: 100%;
  transform: translatez(60px) scale(0.9);
  -webkit-transform: translatez(60px) scale(0.9); }

#date {
  font-size: 50px;
  color: #ECECE7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  float: right; }

#day {
  float: right;
  font-size: 14px;
  color: #232227;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 500px) {
    #day {
      font-size: 10px;
      color: #fff; } }

#month {
  float: right;
  font-size: 10px;
  color: #232227;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }
  @media only screen and (max-width: 500px) {
    #month {
      font-size: 6px;
      color: #fff; } }

.date i {
  color: #ECECE7;
  position: absolute;
  bottom: 10px;
  right: 0; }

.date i:hover {
  color: #232227;
  transition: .3s ease; }

.month {
  height: 100%;
  width: 270px;
  float: left;
  padding: 20px 30px;
  box-sizing: border-box; }

.month table {
  width: 100%; }

.orangeTr {
  color: #dcad9b; }

.whiteTr {
  color: #ECECE7; }

.whiteTr th:hover {
  color: #b9a096;
  transition: .3s ease; }

.month tr {
  height: 24px; }

.month th {
  width: 14%;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.flipped {
  transform: rotateY(-180deg);
  /*height:400px;
  width:200px;
  left:calc(50% - 100px);
  top:calc(50vh - 200px);*/ }

.backcontainer {
  transform-style: preserve-3d;
  width: calc(100% - 60px);
  height: calc(100% - 40px);
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  /*transform:translatez(60px) scale();*/
  background-color: #b9a096;
  border-radius: 6px;
  padding: 10px 30px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

.footer {
  background-color: #453c38;
  color: #e6c4b7; }
  .footer__container {
    margin: 0 5rem;
    padding: 5rem; }
    @media only screen and (max-width: 1300px) {
      .footer__container {
        padding: 1rem;
        margin: 1rem 3.5rem; } }
    @media only screen and (max-width: 900px) {
      .footer__container {
        padding: 3.5rem 0; } }
  @media only screen and (max-width: 1600px) {
    .footer__right-part {
      margin-right: 3rem; } }
  @media only screen and (max-width: 1300px) {
    .footer__right-part {
      margin-top: 3rem; } }
  @media only screen and (max-width: 1600px) {
    .footer__right-part {
      margin-left: 3rem; } }
  .footer__img {
    width: 4rem;
    margin-bottom: 1rem; }
  .footer p {
    padding-right: 2rem; }
  .footer__address {
    padding: 1rem; }
  .footer__contact {
    padding: 1rem; }
  .footer__phone {
    padding: .5rem 1.5rem; }
  .footer__list-contact {
    padding: 1rem; }
    @media only screen and (max-width: 700px) {
      .footer__list-contact {
        display: none; } }
  .footer__item-icon {
    display: inline-block;
    padding-right: .75rem; }
  .footer__svg {
    width: 1.5rem;
    height: 1.5rem; }
  .footer__link-icon {
    display: inline-block;
    transition: all .5s;
    color: #b9a096; }
    .footer__link-icon:hover, .footer__link-icon:active {
      transform: rotate(5deg) scale(1.5);
      fill: #2a2a2a; }
  @media only screen and (max-width: 700px) {
    .footer__form {
      margin-left: 4rem; } }
  .footer__form-group {
    margin-bottom: 1.25rem; }
  .footer__form-input {
    width: 80%;
    font-size: 1.1rem;
    color: #b9a096;
    background-color: #b9a096;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: .5rem;
    padding: .375rem .75rem;
    font-weight: 400; }
    .footer__form-input:focus {
      outline: none;
      border-bottom: 3px solid #e6c4b7;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .footer__btn {
    margin-top: 2.75rem;
    margin-bottom: 0; }
  .footer__copyright {
    text-align: center;
    font-weight: 300;
    font-size: .8rem;
    color: #151515;
    padding: 1rem; }
