/*.........COLOR............*/

$color-gray-light-0: #f0f0f0;
$color-gray-light-1: #e1e1e1;
$color-gray-light-2: #d2d2d2;
$color-gray-light-3: #c3c3c3;
$color-gray-light-4: #b4b4b4;
$color-gray-light-5: #e0dfdf;

$color-gray-dark-0: #494949;
$color-gray-dark-1: #3f3f3f;
$color-gray-dark-2: #343434;
$color-gray-dark-3: #2a2a2a;
$color-gray-dark-4: #1f1f1f;
$color-gray-dark-5: #151515;

$color-black: #000;
$color-white: #fff;

$color-main: #e8c8bc;
$color-main-light-0: #f8eeea;
$color-main-light-1: #f3e3dd;
$color-main-light-2: #e6c4b7;
$color-main-dark-1: #dcad9b;
$color-main-dark-2: #b9a096;
$color-main-dark: #453c38;

/*.........GRID............*/
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_vertical_small: 6rem;
$gutter_horizontal: 6rem;
$gutter_horizontal_small: 4rem;