
.custom-shape-divider-bottom-1608289319 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  //@media only screen and (max-width: 900px) {
  //display: none;
  //}
}

.custom-shape-divider-bottom-1608289319 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1608289319 .shape-fill {
  fill: #FFFFFF;
}